## [Visual Studio]
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
*.suo

## [User-specific files]
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## [Build results]
[Aa]ny[Cc][Pp][Uu]/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

## [Environment Secrets]
appsettings.Development.json
.env
*.pfx
*.publishsettings

## [OS specific files]
Thumbs.db
Desktop.ini
.DS_Store

## [Resource]
resources/vectors/
resources/dictionary.db

## [Personal Folders]
logs/
cache/
refactoring_reports/

## [Sandbox]
.github